@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --fabdev: rgb(122, 225, 200);

}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}


.text-fabdev {
    color: rgb(86 223 189);
}


.bg-fabdev-hover {
    background-color: rgba(86, 223, 189, 0.32);
}

.border-fabdev {
    border-color: rgb(86 223 189);
}

.clientlogo {
    width: 250px;
    filter: brightness(0) invert(1);
}

input[class="inputLabel"]:hover + label,
input[class="inputLabel"]:checked + label,
input[class="inputLabel"]:focus + label {
    background-color: rgb(86 223 189);
    color: #1f1f1f;
}

.loader {
    border: 4px solid;
    border-color: rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: animloader 1s linear infinite;
    width: 40px;
    height: 40px;
}

@keyframes animloader {
    0% {
        border-color: rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.75);
    }
    33% {
        border-color: rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35);
    }
    66% {
        border-color: rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25);
    }
    100% {
        border-color: rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0.15);
    }
}
