@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --fabdev: rgb(122, 225, 200);

}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}


.text-fabdev {
    color: rgb(86 223 189);
}


.bg-fabdev-hover {
    background-color: rgba(86, 223, 189, 0.32);
}

.border-fabdev {
    border-color: rgb(86 223 189);
}

.clientlogo {
    width: 250px;
    filter: brightness(0) invert(1);
}

input[class="inputLabel"]:hover + label,
input[class="inputLabel"]:checked + label,
input[class="inputLabel"]:focus + label {
    background-color: rgb(86 223 189);
    color: #1f1f1f;
}
